language: python
python:
  - 3.6
install:
  - python3 setup.py install
  - pip3 install mypy nose mockredispy nose-cov
  - pip3 install codecov
script:
  - nosetests --with-cov --cov event_reporter tests/
  - mypy event_reporter --ignore-missing-imports
after_success:
  - codecov
